@{ 
    ViewBag.Title = "AssignSubjectAndTeacherToStudent";
}

<h4>Add New Subject & Assign to Student</h4>
<form id="studentAssignmentForm">
    <div class="form-group">
        <label for="studentId">Student Name:</label>
        <select class="form-control" id="studentId" name="studentId" required>
            <option value="" disabled selected>Select Student</option>
            @foreach (var student in ViewBag.StudentIdList)
            {
                <option value="@student.Value">@student.Text</option>
            }
        </select>
        <div id="studentId-error" class="text-danger"></div>
    </div>

    <div class="form-group">
        <label for="subjectCode">Subject:</label>
        <select class="form-control" id="subjectCode2" name="subjectCode" required>
            <option value="" disabled selected>Select Subject Code</option>
            @foreach (var subject in ViewBag.Subjects)
            {
                <option value="@subject.Value">@subject.Text</option>
            }
        </select>
        <div id="subjectCode-error" class="text-danger"></div>
    </div>


    <div class="form-group">
        <label for="teacherId">Teacher Name:</label>
        <select class="form-control" id="teacherId2" name="teacherId" required>
            <option value="" disabled selected>Select Teacher</option>
            <!-- Teachers for the selected subject will be loaded dynamically here -->
        </select>
        <div id="teacherId-error" class="text-danger"></div>
    </div>


    <button type="submit" id="assignSubjectButton" class="btn btn-primary m-3">Assign Subject</button>
</form>


