/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
 
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
div .content {
    height:auto;
}
.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}
footer {
    position:fixed;
    bottom:0;
    width:100%;
    margin-top:20px;
}
.delete-btn {
    border:none;
    background:none;
    color:red;
}
.btn-danger {
    background-color:none;
}

.required::after {
    content: '*';
    color: red;
    margin-left: 5px; /* Adjust spacing as needed */
}
.tickbox-label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.tickbox-label::after {
        content: "\2714"; /* Tick symbol */
        font-size: 16px;
        color: transparent;
 }

input[type="checkbox"]:checked + .tickbox-label::after {
    color: green; /* Color of the tick when checked */
}
