@model IEnumerable<sms.Models.Student>

@{
    ViewBag.Title = "Index";
}
<h2 class="text-center">Students</h2>
<p class="align-content-end">

    <button onclick="LoadCreatePage()" class="btn bg-secondary text-light">Create New</button>
</p>
<!-- Student List Partial View -->
<div id="student-list">
        @Html.Partial("_StudentList")
 </div>
<!--Create form partial view-->

<div id="createnew">

</div>
<script>
    function LoadCreatePage() {
        //* /Hide student list and load create new form*/
        $("#student-list").hide();
        $.ajax({
            type: "GET",
           url: "@Url.Action("Create", "Students")",

            data: {},
            cache: false,
            async: false,

            success: function (data) {
                $("#createnew").html(data)
            },
            error: function (xhr, ajaxOptions, thrownError) {
                aler('');
            }
        })

    }
</script>