@model IEnumerable<sms.Models.Subject>

@{
    ViewBag.Title = "Index";
}
<h2 class="text-center">Subjects</h2>

<p class="align-content-end">
    <button onclick="LoadCreatePage()" class="btn bg-secondary text-light">Create New</button>
</p>

<div id="subjectList">
    @Html.Partial("_SubjectList")
</div>
<div id="createnew">

</div>
<script>
    function LoadCreatePage() {
        $("#subjectList").hide();
        $.ajax({
            type: "GET",
           url: "@Url.Action("Create", "Subjects")",

            data: {},
            cache: false,
            async: false,

            success: function (data) {
                $("#createnew").html(data)
            },
            error: function (xhr, ajaxOptions, thrownError) {
                aler('');
            }
        })

    }
</script>
