@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title" class="text-center">Welcome to the Student Management System</h1>
        <div><p class="lead">The Student Management System is a comprehensive solution designed to simplify the management of student records in educational institutions. 
            With its intuitive interface and robust features, it offers administrators, teachers, and staff members the tools they need to efficiently handle student information.</p></div>
        @*<p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>*@
    </section>

    <div class="row">
       
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>